// colors 
$primary-color:#9356DC;
$secondary-color : #FF79DA;
$tertiary-color : #99E2D0;
$grey-color: #353535;
$grey-color-1:rgba(246, 246, 246, 0.884);
$grey-color-2: #f6f6f6;

// Mediaqueries 
$breakpoint:
(
    tablet: 700px,
    desktop: 1023px,
    tv: 1400px
);

// images menu
$banner-1:"../../../images/restaurants/restaurant-1.jpg";//la-palette-du-gout
$banner-2:"../../../images/restaurants/restaurant-2.jpg";//la-note-enchantee
$banner-3:"../../../images/restaurants/restaurant-3.jpg";//a-la-francaise
$banner-4:"../../../images/restaurants/restaurant-4.jpg";//le-delice-des-sens



